.offcanvas-end{
    width: 300px;
}
ul li a:hover, ul li a:focus {
    color:red;
}
.menuTk:hover{
    background-color: lightslategray;
    color:black;
    margin-left: 1px;
}
.menuActivo{
    background-color: rgb(255, 179, 37);
    margin-left: 2px;
}
body{
    background-color: rgb(197, 197, 197);
}
.table-active{
    --bs-table-accent-bg: #1c91ff;
}
.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #4b4a4a; /* Color de fondo */
	position: fixed;
	top: 10px;
	right: 10px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.menu-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	position: fixed;
	top: 5px;
	left: 5px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.footer-flotante{
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	background-color: rgba(12, 0, 0, 0.322);
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	position: fixed;
	bottom: 5px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.relojPelea{
    font-size: 60px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	background-color: rgba(12, 0, 0, 0.11);
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	position: fixed;
	top: 40px;
	left: 40%;
	right: 40%;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.reloj-digital{
	background-color: rgba(236, 236, 236, 0.733);
}
.botonMenu{
    background-color: rgba(48, 45, 45, 0.075);
    border-radius: 5px;
    color: #ffffff;
}
.puntuacionText{
    font-size: 17rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.fondoPuntuacion{
    background-color: rgba(49, 48, 48, 0.075);
}
.fondoNombre{
    background-color: rgba(255, 255, 255, 0.112);
    border-radius: 5px;
}
.btnScore{
    font-size: xx-large;
    color: rgba(255, 255, 255, 0.712);
}
.colorSelection td{
	background: rgba(67, 139, 67, 0.473) !important;
	color: black;
}
.tableIgual{
	height: 350px !important;
}
.botonLlave{
	background-color: rgba(160, 74, 241, 0.562);
	color: #ffffff;
}
.colorFiltro{
	background-color: rgb(118, 118, 189);
}